# RK_BUILDROOT_BASE_CFG="OK3568-C"
# RK_DEBIAN is not set
RK_KERNEL_DTS_NAME="rk3568-evb1-ddr4-v10-linux"
RK_YOCTO_CFG="rockchip-rk3568-evb"
RK_UBOOT_CFG="OK3568"
RK_KERNEL_CFG="OK3568-C-linux_defconfig"
RK_KERNEL_DTS_NAME="OK3568-C-linux"
RK_RECOVERY_BASE_CFG="rk3568"
RK_PARAMETER="parameter-buildroot-fit.txt"
RK_USE_FIT_IMG=y
RK_BUILDROOT=n
RK_YOCTO=y
RK_ROOTFS_SYSTEM=yocto
