RK_YOCTO_CFG="rockchip-rk3568-evb"
RK_ROOTFS_SYSTEM_UBUNTU=y
RK_WIFIBT_TTY="ttyS8"
RK_KERNEL_VERSION="5.10"
RK_KERNEL_DTS_NAME="OK3568-C-linux"
RK_PARAMETER="parameter-ubuntu-fit.txt"
RK_USE_FIT_IMG=y
